tr{
    border-bottom: 2px solid white;;
   
}
th{
    font-size: 1.3rem;
    padding: 5px;
    text-align: left;
}
td{
    padding: 10px 0px;
    text-align: left;
}
td img{
    width: 40px;
    height: 40px;
}